.button{
	width: 100%;
    background-color: chartreuse;
	height: 40px;
	padding: 0 10px;
	border-radius: 5px;
	font-size: 16px;
	color: #444;
	font-weight: bold;
	cursor: pointer;
	border: none;
	transition: .6s;
    }   

.button:hover{
	background-color: black;
	color:chartreuse;
	border-radius: 5px ;
	border: 1px solid chartreuse;
}